:root{

    
    --color-text : #fff;
    --color-primary : #576cbc;
    --color-secondary : #19376d;
    --color-dark : #0b2447;
    --color-bg : #04152d;

    
    --font-roboto : "Roboto";
    --font-outfit : "outfit";
}


[data-theme="light"] {
    --color-text : #020000;
    --color-primary : #576cbc;
    --color-secondary : #19376d;
    --color-dark : #0b2447;
    --color-bg : #fff; /* Dark mode text color */
}