@import '../../vars.css';

.container{
    min-height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top : 49px;
    z-index : 1;
    margin : 0 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color : var(--color-text);
    z-index : 1;
}

.titles{
    height : 200px;
}
.title{
    font-size: 72px;
    font-weight : 900;
    min-height: 100px;
    font-family : var(--font-roboto);
    background: var(--color-text);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 75px;
    }

.description{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color : var(--color-text);
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    padding : 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}

.imgs{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left : 2rem;
    
    /* margin-left: 10rem; */
    /* box-sizing: border-box; */
}

.heroImg{
    width: 70%;
    /* height : 42vh; */
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(95,115,176,0.5);
    /* border-radius: 1000px; */

    animation-name : floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0%{
        transform: translate(0,0px);
    }

    50%{
        transform: translate(0,10px);
    }

    100%{
        transform: translate(0,0px);
    }   
}

.topBlur{
    position: absolute;
    width : 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top : -128px;
    left : -10vw;
    border-radius: 764px;
    background: var(--color-blur);
    filter : blur(100px);
    z-index : 0;
}


.bottomBlur{
    position: absolute;
    width : 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top : 246px;
    right : -25vw;
    border-radius: 764px;
    background: var(--color-blur);
    filter : blur(100px);
    z-index : 0;
}

@media screen and (max-width : 830px ) {
    .container{
        flex-direction: column-reverse;
        /* gap : 2vh;  */
    }

    .content{
        align-items: center;
    }

    .imgs{
        left : 0;
    }
}

@media screen and (max-width : 500px ){
    .titles{
        width : 90vw;
        height :150px;
    }
    
    .title{
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 0px;
        height: 0;
        
    }

    .imgs{
        margin : 55px 0;
        height : 200px;
    }

    .heroImg{
        width: 150%;
    }

    .description{
        font-size: 20px;
    }

    .contactBtn{
        font-size : 17px;
    }

    
    
}